.list-group .active{
    background-color: #ddd;
    color:black;
    border-color:#ddd;
}

.container .page-title{
    padding-top:15vh;
}

.title-accordion, span.badge{
    font-family: Arial, Helvetica, sans-serif;
}