body
{
    #bouton-envoi
    {
        background-color: #fcb337;
        border: none;
    }
    #premier-titre
    {
        margin-top: 15vh;
    }
    header
    {
        background-color: #fcb337;
    }
    footer
    {
        background-color: #fcb337;
    }
}