.container {
    max-width: 1000px;
}

//slides
.carousel {
    margin-top: 15vh;
}

.carousel-inner {
    height: 400px;
    img {
        height: 100%;
    }
}

.carousel-item {
    transform: translateY(-10%);
}

.carousel-caption {
    position: absolute;
    top: 40%;
    right: 5%;
    max-width: 100%;
    height: auto;
    transform: translateY(-50%);
    text-shadow: 0 0 10px rgba(255, 255, 255, .2);
    background: none;
    a {
        &:hover {
            background-color: #000;
        }
    }
}

//main part
.offreDumois {
    margin-top: 3vh;
    cursor: pointer;
    h1,
    h2,
    h3 {
        text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
    img {
        width: 100%;
    }
}

.couple,
.allForYou,
.veryHungry {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        transition: all 1s;
    }
    .hidden {
        visibility: hidden;
        background-image: url("../images/footprint.png");
        background-size: cover;
        background-color: rgba(252, 179, 55, .6);
        z-index: 1;
        opacity: 0;
        height: 0px;
        position: absolute;
        top: 0%;
        list-style-type: none;
        font-size: 1em;
        font-weight: bold;
        color: #000;
        text-shadow: 0 0 10px rgba(0, 0, 0, .2);
        width: 100%;
        transition: all 1s;
        img {
            opacity: 0;
        }
    }
    transition-duration: 1s;
    &:hover {
        img {
            transform: scale(1.5);
            filter: opacity(0.3);
        }
        .hidden {
            visibility: visible;
            opacity: 1;
            width: 100%;
            height: 100%;
            img {
                opacity: 1;
            }
        }
    }
}

.photo {
    img {
        width: 20x;
    }
}

//subscribe
.form {
    p {
        text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
}

// animation
footer {
    position: relative;
}

.animation {
    position: absolute;
    z-index: -2;
    top: 0;
    left: -90px;
    width: 150px;
    animation: bearWave 10s linear 0s infinite normal;
    img {
        height: 100%;
        width: 100%;
    }
}

@keyframes bearWave {
    from {
        top: 0;
        left: -90px;
    }
    25% {
        transform: rotate(40deg);
        top: -120px;
        left: 0;
    }
    50% {
        transform: rotate(0deg);
        top: 10%;
        left: -100px;
    }
    100% {
        top: 10%;
        left: -100px;
    }
}

//responsive
@media (max-width: 767px) {
    .carousel-inner {
        margin-top: 0vw;
        img {
            height: 100%;
        }
    }
    .caption1 {
        top: 70%;
        left: 5%;
    }
    .couple,
    .allForYou,
    .veryHungry {
        .hidden {
            font-size: 1.4em;
            padding-top: 1.5em;
        }
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    .form {
        input {
            text-align: center;
        }
    }
    .form {
        .btn {
            margin-top: 0.5em;
        }
    }
}

@media (min-width: 768px) {
    .caption1 {
        bottom: 70%;
        left: 57%;
    }
    .couple,
    .allForYou,
    .veryHungry {
        .hidden {
            padding-top: 1em;
        }
    }
}
@media screen and (max-width: 780px) {
    .carousel {
        height: 400px;
    }
}
 

@media (min-width: 800px) {
        .carousel-inner {
        .carousel-item  {
        img {
            width: 100%;
        }
    } 
}  
}