.container {
  max-width: 1000px;
}

.carousel {
  margin-top: 15vh;
}

.carousel-inner {
  height: 400px;
}

.carousel-inner img {
  height: 100%;
}

.carousel-item {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.carousel-caption {
  position: absolute;
  top: 40%;
  right: 5%;
  max-width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  background: none;
}

.carousel-caption a:hover {
  background-color: #000;
}

.offreDumois {
  margin-top: 3vh;
  cursor: pointer;
}

.offreDumois h1,
.offreDumois h2,
.offreDumois h3 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.offreDumois img {
  width: 100%;
}

.couple,
.allForYou,
.veryHungry {
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.couple img,
.allForYou img,
.veryHungry img {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.couple .hidden,
.allForYou .hidden,
.veryHungry .hidden {
  visibility: hidden;
  background-image: url("../images/footprint.png");
  background-size: cover;
  background-color: rgba(252, 179, 55, 0.6);
  z-index: 1;
  opacity: 0;
  height: 0px;
  position: absolute;
  top: 0%;
  list-style-type: none;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.couple .hidden img,
.allForYou .hidden img,
.veryHungry .hidden img {
  opacity: 0;
}

.couple:hover img,
.allForYou:hover img,
.veryHungry:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.couple:hover .hidden,
.allForYou:hover .hidden,
.veryHungry:hover .hidden {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.couple:hover .hidden img,
.allForYou:hover .hidden img,
.veryHungry:hover .hidden img {
  opacity: 1;
}

.photo img {
  width: 20x;
}

.form p {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
  position: relative;
}

.animation {
  position: absolute;
  z-index: -2;
  top: 0;
  left: -90px;
  width: 150px;
  -webkit-animation: bearWave 10s linear 0s infinite normal;
          animation: bearWave 10s linear 0s infinite normal;
}

.animation img {
  height: 100%;
  width: 100%;
}

@-webkit-keyframes bearWave {
  from {
    top: 0;
    left: -90px;
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top: -120px;
    left: 0;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 10%;
    left: -100px;
  }
  100% {
    top: 10%;
    left: -100px;
  }
}

@keyframes bearWave {
  from {
    top: 0;
    left: -90px;
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top: -120px;
    left: 0;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 10%;
    left: -100px;
  }
  100% {
    top: 10%;
    left: -100px;
  }
}

@media (max-width: 767px) {
  .carousel-inner {
    margin-top: 0vw;
  }
  .carousel-inner img {
    height: 100%;
  }
  .caption1 {
    top: 70%;
    left: 5%;
  }
  .couple .hidden,
  .allForYou .hidden,
  .veryHungry .hidden {
    font-size: 1.4em;
    padding-top: 1.5em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  .form input {
    text-align: center;
  }
  .form .btn {
    margin-top: 0.5em;
  }
}

@media (min-width: 768px) {
  .caption1 {
    bottom: 70%;
    left: 57%;
  }
  .couple .hidden,
  .allForYou .hidden,
  .veryHungry .hidden {
    padding-top: 1em;
  }
}

@media screen and (max-width: 780px) {
  .carousel {
    height: 400px;
  }
}

@media (min-width: 800px) {
  .carousel-inner .carousel-item img {
    width: 100%;
  }
}
/*# sourceMappingURL=homepage.css.map */