html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(1hw + 0.6em);
}

.container {
  max-width: 900px;
  background-color: lightgoldenrodyellow;
}

.row {
  padding: 10px 10px;
}

nav,
footer {
  font-size: 1.5em;
  background-color: red;
  text-align: left;
}

nav .logo,
footer .logo {
  width: 120px;
}

nav {
  opacity: 0.9;
}

.slide2 {
  color: black;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slide2 button {
  color: black;
}

.carousel-inner {
  height: 400px;
}

.carousel-inner img {
  height: 100%;
}

.carousel-item {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  /*.active {
        transform: translateY(-15%);
    }
    .slide2 {
        transform: translateY(-30%);
    }
    .slide3 {
        transform: translateZ(30%);
    }*/
}

.carousel-caption {
  position: absolute;
  top: 40%;
  right: 5%;
  max-width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.caption1 {
  bottom: 70%;
  left: 57%;
}

.offreDumois {
  text-align: center;
}

.offreDumois h1,
.offreDumois h2,
.offreDumois h3 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.offreDumois img {
  width: 100%;
}

.couple,
.allForYou,
.veryHungry {
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.couple img,
.allForYou img,
.veryHungry img {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.couple .hidden,
.allForYou .hidden,
.veryHungry .hidden {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  position: absolute;
  top: 10%;
  list-style-type: none;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px white;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.couple .hidden img,
.allForYou .hidden img,
.veryHungry .hidden img {
  opacity: 0;
}

.couple .hidden .logo,
.allForYou .hidden .logo,
.veryHungry .hidden .logo {
  width: 50px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.couple:hover,
.allForYou:hover,
.veryHungry:hover {
  background-color: red;
}

.couple:hover img,
.allForYou:hover img,
.veryHungry:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.couple:hover .hidden,
.allForYou:hover .hidden,
.veryHungry:hover .hidden {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.couple:hover .hidden img,
.allForYou:hover .hidden img,
.veryHungry:hover .hidden img {
  opacity: 1;
}

.photo img {
  width: 20x;
}

.form {
  border: 2px solid black;
  -webkit-box-shadow: 1 1 1 5px black;
          box-shadow: 1 1 1 5px black;
  text-align: center;
}

.form button {
  background-color: red;
}

.form p {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: black;
}

footer .logo {
  width: 12em;
}

footer .container {
  background-color: red;
}

footer h2 {
  font-weight: 200;
  font-size: 2em;
}

footer a {
  color: black;
  text-transform: none;
}

footer a:hover {
  text-decoration: none;
  color: brown;
}

footer .icon i {
  color: black;
  font-size: 2.5em;
}

@media only screen and (max-width: 767px) {
  .carousel-caption,
  .display-2 {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  img {
    width: 100%;
  }
}
/*# sourceMappingURL=homepage.css.map */