#contacts2-x
{
    background-color: #eeeeee;
}
#formulaires
{
    margin-top: 2em;
}
#premier-titre
{
    margin-top: 15vh;
}
header
{
    background-color: #fcb337; 
}
footer
{
    background-color: #fcb337;
}